<!DOCTYPE html>
<html>

	<head>
		<title>框架页面</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="renderer" content="webkit"> 
		<link rel="stylesheet" type="text/css" href="../dhtmx/dhtmlx.css" />
		<link rel="stylesheet" type="text/css" href="../css/app.css" />
		<script src="../dhtmx/dhtmlx.js"></script>
		<script type="text/javascript" src="../dhtmx/dtree/dtree.js"></script>
		<script src="../lib/jquery.min.js"></script>
		<script src="../js/app.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div class="center-block w-60 p-t-lg">
			<h1>侧滑弹出栏</h1>
			<p>1.alt+键盘左右键打开/关闭右侧栏</p>
			<p>2.ctrl+键盘左右键键打开/关闭左侧栏</p>
		</div>
		<div class="center-block w-60 m-t">
			<button class="btn btn-primary" onclick="xslideshow('.slide-left')">打开左栏</button>
			<button class="btn btn-danger" onclick="xslidehide('.slide-left')">关闭左栏</button>
			<button class="btn btn-info" onclick="xslidetoggle('.slide-left')">打开/关闭左栏</button>
		</div>
		<div class="center-block w-60 m-t text-right">
			<button class="btn btn-success" onclick="xslideshow('.slide-right')">打开右栏</button>
			<button class="btn btn-danger" onclick="xslidehide('.slide-right')">关闭右栏</button>
			<button class="btn btn-info" onclick="xslidetoggle('.slide-right')">打开/关闭右栏</button>
		</div>

		<!--左侧栏(结构类名不要修改，id可以改变并写入调用函数)-->
		<div id="slide1" class="slide-left">
			<div class="slide-btn">
				<span class="xico xico-forward m-r-0"></span>
			</div>
			<!--左栏按钮end-->
			<div class="xcontent p-a">
				<!--栏目内容-->
				侧栏内容区
				<!--栏目内容end-->
			</div>
		</div>
		<!--左侧栏end-->

		<!--右侧栏(结构类名不要修改，id可以改变并写入调用函数)-->
		<div id="slide2" class="slide-right">
			<div class="slide-btn">
				<span class="xico xico-back2 m-r-0"></span>
			</div>
			<!--右栏按钮end-->
			<div class="xcontent p-a">
				<!--栏目内容-->
				侧栏内容区
				<!--栏目内容end-->
			</div>
		</div>
		<!--右侧栏end-->

		<script type="text/javascript">
			$(document).ready(function() {
				xslide('#slide1', 'left', '200'); //初始化滑动侧栏
				xslide('#slide2', 'right', '450'); //初始化滑动侧栏
			})
			//键盘监测（1.alt+键盘左右键打开/关闭右侧栏 ）
			$(document).keydown(function(event) {
				keyCode = event.which;
				if(event.altKey && (event.keyCode == 37)) {
					xslideshow('.slide-right')
				} else if(event.altKey && (event.keyCode == 39)) {
					xslidehide('.slide-right')
				} else if(event.ctrlKey && (event.keyCode == 39)) {
					xslideshow('.slide-left')
				} else if(event.ctrlKey && (event.keyCode == 37)) {
					xslidehide('.slide-left')
				} else if(event.keyCode == 116) { ////屏蔽F5刷新键   
					return false;
				}

			});
		</script>
	</body>

</html>
