<!DOCTYPE html>
<html>

	<head>
		<title>框架页面</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="renderer" content="webkit"> 
		<link rel="stylesheet" type="text/css" href="../dhtmx/dhtmlx.css" />
		<link rel="stylesheet" type="text/css" href="../css/app.css" />
		<script src="../dhtmx/dhtmlx.js"></script>
		<script type="text/javascript" src="../dhtmx/dtree/dtree.js"></script>
		<script src="../lib/jquery.min.js"></script>
		<script src="../js/app.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div class="p-a">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" href="#tabs1" role="tab" data-toggle="tab">基础信息</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#tabs2" role="tab" data-toggle="tab">原件表</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#tabs3" role="tab" data-toggle="tab">成品表</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#tabs4" role="tab" data-toggle="tab">单损耗表</a>
				</li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content m-t">
				<div role="tabpanel" class="tab-pane active" id="tabs1">基础信息...</div>
				<div role="tabpanel" class="tab-pane" id="tabs2">原件表...</div>
				<div role="tabpanel" class="tab-pane" id="tabs3">成品表...</div>
				<div role="tabpanel" class="tab-pane" id="tabs4">单损耗表...</div>
			</div>
		</div>

	</body>

</html>