<!DOCTYPE html>
<html>

	<head>
		<title>框架页面</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="renderer" content="webkit"> 
		<link rel="stylesheet" type="text/css" href="../dhtmx/dhtmlx.css" />
		<link rel="stylesheet" type="text/css" href="../css/app.css" />
		<script src="../dhtmx/dhtmlx.js"></script>
		<script type="text/javascript" src="../dhtmx/dtree/dtree.js"></script>
		<script src="../lib/jquery.min.js"></script>
		<script src="../js/app.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<!--搜索栏-分2栏布局-->
		<div class="search-bar">
			<div class="row">
				<div class="col-sm-7 form-inline">
					<div class="form-group">
						<label for="exampleInputEmail2">申报地海关</label>
						<input type="text" class="form-control" id="exampleInputEmail2" placeholder="请输入">
					</div>
					分2栏布局
				</div>
				<div class="col-sm-5 form-inline text-right">
					<fieldset class="form-group">
						<label for="exampleSelect1">搜索类型:</label>
						<select class="form-control" id="exampleSelect1">
							<option>类型1</option>
							<option>类型2</option>
							<option>类型3</option>
							<option>类型4</option>
							<option>类型5</option>
						</select>
					</fieldset>
					<div class="form-group">
						<input type="text" class="form-control" id="exampleInputEmail2" placeholder="请输入搜索关键字">
					</div>
					<button type="submit" class="btn btn-primary btn-sm"><span class="xico xico-chazhao"></span>搜索</button>
				</div>
			</div>
		</div>

		<!--搜索栏-通栏布局超出自动折行-->
		<div class="search-bar mg-t-40">
			<div class="row">
				<div class="col-sm-11 form-inline">
					<div class="form-group">
						<label for="exampleInputEmail2">申报地海关</label>
						<input type="text" class="form-control" id="exampleInputEmail2" placeholder="请输入">
					</div>
					<div class="form-group">
						<label for="exampleInputEmail2">申报地海关</label>
						<input type="text" class="form-control" id="exampleInputEmail2" placeholder="请输入">
					</div>
					<div class="form-group">
						<label for="exampleInputEmail2">申报地海关</label>
						<input type="text" class="form-control" id="exampleInputEmail2" placeholder="请输入">
					</div>
					<div class="form-group">
						<label for="exampleInputEmail2">申报地海关</label>
						<input type="text" class="form-control" id="exampleInputEmail2" placeholder="请输入">
					</div>
					<div class="form-group">
						<label for="exampleInputEmail2">申报地海关</label>
						<input type="text" class="form-control" id="exampleInputEmail2" placeholder="请输入">
					</div>
					<div class="form-group">
						<label for="exampleInputEmail2">申报地海关</label>
						<input type="text" class="form-control" id="exampleInputEmail2" placeholder="请输入">
					</div>
					通栏布局超出自动折行
				</div>
				<div class="col-sm-1">
					<div class="x-grunt">
						<button type="button" class="btn btn-primary btn-sm"><span class="xico xico-chazhao"></span>查询</button>
						<button type="button" class="btn btn-danger btn-sm"><span class="xico xico-laji"></span>清空</button>
					</div>
				</div>
			</div>
		</div>

		<!--搜索栏-上下结构-->
		<div class="search-bar mg-t-40">
			<div class="row">

				<div class="form-group col-sm-3">
					<label for="exampleInputEmail2">申报地海关</label>
					<input type="text" class="form-control" id="exampleInputEmail2" placeholder="请输入">
				</div>
				<div class="form-group col-sm-3">
					<label for="exampleInputEmail2">申报地海关</label>
					<input type="text" class="form-control" id="exampleInputEmail2" placeholder="请输入">
				</div>
				<div class="form-group col-sm-3">
					<label for="exampleInputEmail2">申报地海关</label>
					<input type="text" class="form-control" id="exampleInputEmail2" placeholder="请输入">
				</div>
				<div class="form-group col-sm-3">
					<label for="exampleInputEmail2">申报地海关</label>
					<input type="text" class="form-control" id="exampleInputEmail2" placeholder="请输入">
				</div>
			</div>

		</div>

	</body>

</html>