<!DOCTYPE html>
<html>

	<head>
		<title>框架页面</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="renderer" content="webkit"> 
		<link rel="stylesheet" type="text/css" href="../dhtmx/dhtmlx.css" />
		<link rel="stylesheet" type="text/css" href="../css/app.css" />
		<script src="../dhtmx/dhtmlx.js"></script>
		<script type="text/javascript" src="../dhtmx/dtree/dtree.js"></script>
		<script src="../lib/jquery.min.js"></script>
		<script src="../js/app.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div class="p-a">
			<h3 class="m-t">我的消息</h3>
			<div class="m-y x-foldbox">
				<ul class="list-group">
					<li class="list-group-item row">
						<div class="col-xs-7 col-md-9 text-truncate">第三届世界互联网大会将于2016年11月16日至18日在浙江乌镇举办。大会的主题是"创新驱动 造福人类——携手共建网络空间命运共同体"。</div>
						<div class="text-right">2017-11-06 23:11:23 <span class="xico xico-arrowright"></span></div>
					</li>
				</ul>
			</div>
		</div>

	</body>

</html>