$icomoon-font-path: "fonts" !default;

$xico-pc_weixin: "\e900";
$xico-info-filled: "\e534";
$xico-zoom-in2: "\e037";
$xico-zoom-out2: "\e038";
$xico-speech-bubble: "\e076";
$xico-ban2: "\e107";
$xico-trash3: "\e109";
$xico-gonggao: "\e611";
$xico-jinghao2: "\e612";
$xico-jinghao: "\e613";
$xico-gongju: "\e614";
$xico-gongju1: "\e615";
$xico-bangzhu: "\e616";
$xico-bangzhu2: "\e617";
$xico-suo: "\e61a";
$xico-suo2: "\e61b";
$xico-xiaoxi: "\e61c";
$xico-xiaoxi2: "\e61d";
$xico-yonghu: "\e61e";
$xico-yonghu1: "\e61f";
$xico-yonghu2: "\e620";
$xico-yonghu3: "\e621";
$xico-yonghuchazhao: "\e622";
$xico-youjian: "\e623";
$xico-youjian2: "\e625";
$xico-baocun: "\e626";
$xico-fujian: "\e627";
$xico-gengxin: "\e628";
$xico-shijian: "\e62d";
$xico-naozhong: "\e62e";
$xico-shezhi: "\e62f";
$xico-shezhi2: "\e630";
$xico-shuaxin: "\e631";
$xico-tixing1: "\e634";
$xico-tingzhi: "\e638";
$xico-tuichu: "\e639";
$xico-xiazai1: "\e63b";
$xico-xinjian: "\e63c";
$xico-xinxi1: "\e63d";
$xico-xinxi12: "\e63e";
$xico-xinxi2: "\e63f";
$xico-lianxiren: "\e642";
$xico-liebiao8: "\e64b";
$xico-sousuo: "\e632";
$xico-liebiao9: "\e64c";
$xico-chazhao: "\e660";
$xico-shangchuan: "\e64f";
$xico-laji: "\e650";
$xico-laji2: "\e651";
$xico-guanji: "\e654";
$xico-guanyuyunguanjia: "\e655";
$xico-jiantou: "\e656";
$xico-banshou: "\e65c";
$xico-baobiao: "\e65d";
$xico-baoxiu: "\e65e";
$xico-dingwei: "\e662";
$xico-dingwei2: "\e663";
$xico-dangan: "\e666";
$xico-dianhua: "\e667";
$xico-dingshixiaoshou: "\e668";
$xico-feiyong: "\e669";
$xico-fuzhi: "\e66a";
$xico-gouwu1: "\e66b";
$xico-gouwuche: "\e66c";
$xico-gouwuche2: "\e66d";
$xico-hetong: "\e66e";
$xico-hetong1: "\e66f";
$xico-hetong2: "\e670";
$xico-hetong3: "\e671";
$xico-hetong4: "\e672";
$xico-hetong5: "\e673";
$xico-hetong6: "\e674";
$xico-hetong7: "\e675";
$xico-hetong8: "\e676";
$xico-hetong9: "\e677";
$xico-hetong10: "\e678";
$xico-hetong11: "\e679";
$xico-shiyongbangzhu: "\e67b";
$xico-danju: "\e67c";
$xico-jigouxinxi: "\e67f";
$xico-jisuan: "\e680";
$xico-jiesuan: "\e682";
$xico-kaisuo: "\e684";
$xico-kaisuo2: "\e685";
$xico-kehuguanli: "\e686";
$xico-kehutousu: "\e687";
$xico-rili: "\e68a";
$xico-rili2: "\e68b";
$xico-rizhi1: "\e68d";
$xico-shouhou2: "\e68e";
$xico-shuju1: "\e68f";
$xico-shuju2: "\e690";
$xico-shuju4: "\e691";
$xico-waimai: "\e692";
$xico-weixiu: "\e693";
$xico-wenjianjia1: "\e694";
$xico-wenjianjia2: "\e695";
$xico-wenjianjia3: "\e696";
$xico-shouji: "\e697";
$xico-shouhou: "\e69c";
$xico-shouhou1: "\e69d";
$xico-zhaoxiang2: "\e69e";
$xico-dayin1: "\78";
$xico-dayin2: "\e6b9";
$xico-zhishichanquan: "\e69f";
$xico-wenjianxinxi: "\e6a2";
$xico-xihuan: "\e6a3";
$xico-xihuan2: "\e6a4";
$xico-xitong: "\e6a5";
$xico-xiangmushenbao: "\e6a6";
$xico-xinyongqia: "\e6a7";
$xico-xiugaimima: "\e6a9";
$xico-yijianfankui: "\e6ad";
$xico-yuding: "\e6ae";
$xico-zengjiahetong: "\e6af";
$xico-zhangdan: "\e6b0";
$xico-zhaoxiang: "\e6b1";
$xico-saoyisao: "\e6b2";
$xico-zan1: "\e6b3";
$xico-zan2: "\e6b4";
$xico-zhiding: "\e6b6";
$xico-eye5: "\e000";
$xico-paper-clip: "\e001";
$xico-mail5: "\e002";
$xico-layout: "\e004";
$xico-link4: "\e005";
$xico-ribbon: "\e009";
$xico-image3: "\e010";
$xico-clock4: "\e014";
$xico-monitor: "\e021";
$xico-paper-stack: "\e035";
$xico-repeat2: "\e058";
$xico-cloud-upload3: "\e066";
$xico-cloud-download3: "\e067";
$xico-share5: "\e081";
$xico-flag6: "\e108";
$xico-archive2: "\e121";
$xico-inbox2: "\e122";
$xico-outbox: "\e123";
$xico-file3: "\e124";
$xico-file-add: "\e125";
$xico-file-subtract: "\e126";
$xico-open: "\e128";
$xico-forward: "\e470";
$xico-back2: "\e471";
$xico-arrowup: "\e580";
$xico-arrowdown: "\e581";
$xico-arrowleft: "\e582";
$xico-arrowright: "\e583";
$xico-reply2: "\e039";
$xico-circle-plus: "\e040";
$xico-circle-minus: "\e041";
$xico-circle-check: "\e042";
$xico-circle-cross: "\e043";
$xico-square-plus: "\e044";
$xico-square-minus: "\e045";
$xico-square-check: "\e046";
$xico-square-cross: "\e047";
$xico-record3: "\e049";
$xico-skip-back: "\e050";
$xico-rewind: "\e051";
$xico-fast-forward2: "\e055";
$xico-skip-forward: "\e056";
$xico-arrow-left3: "\e094";
$xico-arrow-right3: "\e095";
$xico-arrow-up3: "\e096";
$xico-arrow-down3: "\e097";
$xico-loader: "\e105";
$xico-plus3: "\e114";
$xico-minus7: "\e115";
$xico-check2: "\e116";
$xico-cross2: "\e117";
$xico-menu5: "\e120";

